<!-- Confirmation Modal -->
<div class="modal-overlay">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" (click)="onCancel()"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button class="custom-btn btn-gray" (click)="onCancel()">No</button>
        <button class="custom-btn btn-blue" (click)="onConfirm()">Yes</button>
      </div>
    </div>
  </div>
  
  
