/* Heading styling */
h3.text-center {
  font-size: 1.5rem;
  font-weight: 600;
  color: #495057;
}

/* Additional space below the dropdown */
.dropdown-spacer {
  height: 20px; /* Adjust space between dropdown and stepper */
}

/* Center the search container */
.search-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust max-width as needed */
  margin: 0 auto; /* Centers the container horizontally */
}

.dropdown-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0px 8px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.dropdown-arrow {
  width: 9px;
  height: 9px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
  margin-left: 8px;
  cursor: pointer;
}

.dropdown-arrow.open {
  transform: rotate(135deg);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.no-results {
  padding: 10px;
  color: red;
  font-size: 16px;
  text-align: center;
}

.dropdown-item:hover {
  background: #f8f9fa;
}

.dropdown-item:active {
  background: #e2e6ea;
}

/* Stepper container styling */
.stepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Step wrapper inside the stepper */
.step-wrapper {
  display: flex;
  align-items: center;
}

.step-number {
  margin-top: 4px;
  font-weight: 600;
  font-size: 0.85rem;
  color: #6c757d; /* muted gray */
}



.step {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  padding: 10px;
}
.clickable {
  cursor: pointer;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #adb5bd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.completed {
  background-color: #198754;
}

.circle.in-progress {
  background-color: #0d6efd;
}

.circle.pending {
  background-color: #dee2e6;
}

.message-space {
  min-height: 40px; /* Reserve space for message */
}

.line {
  height: 4px;
  width: 70px;
  margin: 0 8px;
  border-radius: 2px;
  margin-bottom: 50px;
}

.line-success {
  background-color: #198754;
}

.line-primary {
  background-color: #0d6efd;
}

.line-pending {
  background-color: #dee2e6;
}
.line-in-progress {
  background-color: #0d6efd;

}
/* Media query for smaller screens */
@media (max-width: 767.98px) {
  .stepper-container {
    flex-direction: column;
    align-items: center;
  }

  .line {
    display: none;
  }

  .step {
    margin-bottom: 1rem;
  }
}
