
  <div class="container-fluid success-container">
  <div class="row">
    <div class="col-12 text-center">
      <!-- Success Icon -->
      <img src="../../../assets/success.png" alt="Success" class="success-icon animate-icon" />

      <!-- Success Message -->
      <h2 class="success-message">Application Submitted Successfully!</h2>

      <!-- Display Application Reference ID -->
      <p class="success-reference">
        Your Application Reference ID: <strong>{{ applicationReferenceId }}</strong>
      </p>

      <!-- Go Back Link -->
      <a href="javascript:void(0);" class="go-back-link" (click)="goBack()">Go Back</a>
    </div>
  </div>
</div>

  
