<div class="modal-overlay" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addRoleForm" class="container">
          <div class="row">
            
            <!-- Role Name -->
            <!-- <div class="col-md-12 form-group">
              <label>Role Name <span class="text-danger">*</span></label>
              <input type="text" formControlName="rolename" class="form-control" placeholder="Enter role name" />
              <div class="error-message">
                <span *ngIf="addRoleForm.get('roleName')?.invalid && (addRoleForm.get('roleName')?.touched || addRoleForm.get('roleName')?.dirty)">
                  <span *ngIf="addRoleForm.get('roleName')?.errors?.['required']">Role Name is required.</span>
                </span>
              </div>
            </div> -->

            <div class="col-md-12 form-group">
              <label>Role Name <span class="text-danger">*</span></label>
              <input type="text" formControlName="rolename" class="form-control"  [placeholder]="'enter role name' | titlecase" appTitleCase/>
              <div class="error-message">
                <span *ngIf="addRoleForm.get('rolename')?.invalid && (addRoleForm.get('rolename')?.touched || addRoleForm.get('rolename')?.dirty)">
                  <span *ngIf="addRoleForm.get('rolename')?.errors?.['required']">Role Name is required.</span>
                  <span *ngIf="addRoleForm.get('rolename')?.errors?.['pattern']">Role Name must be at least 5 letters</span>
                </span>
              </div>
            </div>
            
            <!-- Description -->
            <div class="col-md-12 form-group">
              <label>Description</label>
              <textarea formControlName="description" class="form-control" [placeholder]="'Enter description' | titlecase" appTitleCase></textarea>
            </div>
          </div>
          
          <!-- Submit and Cancel Buttons -->
        <div class="form-group mt-3 d-flex justify-content-end">
          <button type="button" class="btn btn-secondary custom-btn me-2" (click)="close()">Cancel</button>
          <button *ngIf="!isEditMode" type="button" class="btn btn-primary custom-btn"
            (click)="sendData()">Create</button>
          <button *ngIf="isEditMode" type="button" class="btn btn-primary custom-btn"
            (click)="updateData()">Update</button>
        </div>
        </form>
      </div>
    </div>
  </div>
