<div class="modal-overlay">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <!-- <h5 class="modal-title">Repayment Schedule</h5> -->
<h5 class="modal-title">
  Repayment Schedule
  <small *ngIf="applicationsInfo.length > 0">
    {{ applicationsInfo[0].fullName | capitalize }}
  </small>
</h5>


      <button type="button" class="btn-close" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <!-- Existing Component Code -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col" (mouseover)="hoverField = 'applicationReferenceId'"
                      (mouseleave)="hoverField = null">
                      Application Reference ID
                      <span class="sort-icon"></span>
                    </th>

                    <!-- <th scope="col" (mouseover)="hoverField = 'firstName'" (mouseleave)="hoverField = null">
                      Full Name
                      <span class="sort-icon"></span>
                    </th> -->
                    <th scope="col" (mouseover)="hoverField = 'mobileNumber'" (mouseleave)="hoverField = null">
                      Mobile Number
                      <span class="sort-icon"></span>
                    </th>
                    <th scope="col" (mouseover)="hoverField = 'dueAmount'" (mouseleave)="hoverField = null">
                      Due Amount
                      <span class="sort-icon"></span>
                    </th>
                    <th scope="col" (mouseover)="hoverField = 'dueDate'" (mouseleave)="hoverField = null">
                      Due Date
                      <span class="sort-icon"></span>
                    </th>
                    <th scope="col" (mouseover)="hoverField = 'amountPaid'" (mouseleave)="hoverField = null">
                      Amount Paid
                      <span class="sort-icon"></span>
                    </th>
                    <th scope="col" (mouseover)="hoverField = 'amountStatus'" (mouseleave)="hoverField = null">
                      Status
                      <span class="sort-icon"></span>
                    </th>
                    <!-- <th scope="col">Edit</th> -->
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let application of applicationsInfo; let i = index">
                    <td>{{ i + 1 }}</td> <!-- Serial Number -->
                    <td>{{ application.applicationReferenceId }}</td>
                    <!-- <td>{{ application.fullName | capitalize}}</td> -->
                    <!-- <td>{{ application.mobileNumber }}</td> -->
                    <td>{{ application.mobileNumber ? '+91 ' + application.mobileNumber : 'N/A' }}</td>
                    <td>{{ formatIndianCurrency(application.dueAmount) }}</td> <!-- Format amount -->
                    <td>{{ application.dueDate | date:'yyyy-MM-dd' }}</td> <!-- Format date -->
                    <td>{{ formatIndianCurrency(application.amountPaid) }}</td>
                    <td>{{ application.amountStatus | capitalize}}</td>
                  </tr>
                  <tr *ngIf="applicationsInfo.length === 0">
                    <td colspan="7" class="text-center">No Payment Statements.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <td class="text-center">
        <span class="sanction-icon" (click)="openPaymentPopup(application)">
          <i class="fas fa-pencil-alt"></i> 
          </span>
        </td> -->

<!-- Header Bar -->
<!-- <div class="row header-bar">
                <div class="col-12 col-md-6">
                    <h4 class="header-title">Payments </h4>
                </div>
                <div class="col-12 col-md-6 text-md-end">
                    <div class="search-container">
                     
                    </div>
                </div>
            </div> -->

<!-- <tr *ngFor="let application of applicationsInfo; let i = index">
      <td>{{ application.applicationReferenceId }}</td>
      <td>{{ application.firstName }}</td>
       <td>{{ application.mobileNumber }}</td>
       <td>{{ application.dueAmount }}</td>
       <td>{{ application.dueDate }}</td>
       <td>{{ application.amountPaid }}</td>
       <td>{{ application.amountStatus }}</td>
       <td class="text-center">
       <span class="sanction-icon" (click)="openPaymentPopup(application)">
       <i class="fas fa-pencil-alt"></i> 
       </span>
       </td>
    </tr> -->

<!-- <app-plain-navigation></app-plain-navigation> -->
<!-- <div class="container-fluid"> -->
<!-- Header Bar -->
<!-- <div class="row header-bar">
        <div class="col-12 col-md-6">
            <h4 class="header-title">Payments </h4>
        </div>
        <div class="col-12 col-md-6 text-md-end">
            <div class="search-container"> -->
<!-- <span class="add-icon" (click)="openAddApplication('add')">
                    <i class="fas fa-plus"></i>
                </span> -->
<!-- <input 
                    type="text" 
                    class="search-input" 
                    placeholder="Search"
                    (keyup)="onSearch($event)"
                /> -->

<!-- </div>
        </div>
    </div> -->

<!-- Table -->
<!-- <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-sm">
            <thead class="table-custom-header"> -->
<!-- <tr>
                <th scope="col" (mouseover)="hoverField = 'dueDate'" (mouseleave)="hoverField = null" (click)="onSort('dueDate')">
                  Due Date
                  <span class="sort-icon" [ngClass]="getSortIcon('dueDate')"></span>
                </th>
                <th scope="col" (mouseover)="hoverField = 'amountPaid'" (mouseleave)="hoverField = null" (click)="onSort('amountPaid')">
                  Amount Paid
                  <span class="sort-icon" [ngClass]="getSortIcon('amountPaid')"></span>
                </th>
                <th scope="col" (mouseover)="hoverField = 'dueAmount'" (mouseleave)="hoverField = null" (click)="onSort('dueAmount')">
                  Due Amount
                  <span class="sort-icon" [ngClass]="getSortIcon('dueAmount')"></span>
                </th>
                <th scope="col" (mouseover)="hoverField = 'amountStatus'" (mouseleave)="hoverField = null" (click)="onSort('amountStatus')">
                  Amount Status
                  <span class="sort-icon" [ngClass]="getSortIcon('amountStatus')"></span>
                </th>
                <th scope="col">Edit</th>
              </tr> -->
<!-- <tr>
                <th scope="col" (mouseover)="hoverField = 'dueDate'" (mouseleave)="hoverField = null">
                  Due Date
                  <span class="sort-icon"></span>
                </th>
                <th scope="col" (mouseover)="hoverField = 'amountPaid'" (mouseleave)="hoverField = null">
                  Amount Paid
                  <span class="sort-icon"></span>
                </th>
                <th scope="col" (mouseover)="hoverField = 'dueAmount'" (mouseleave)="hoverField = null">
                  Due Amount
                  <span class="sort-icon"></span>
                </th>
                <th scope="col" (mouseover)="hoverField = 'amountStatus'" (mouseleave)="hoverField = null">
                  Amount Status
                  <span class="sort-icon"></span>
                </th>
                <th scope="col">Edit</th>
              </tr> -->
<!-- </thead>
            
            <tbody>
              <tr *ngFor="let application of applicationsInfo; let i = index"> -->
<!-- <td>{{ application.dueDate | date: 'yyyy-MM-dd' }}</td>
                <td>{{ application.amountPaid }}</td>
                <td>{{ application.dueAmount | number: '1.2-2' }}</td>
                <td>{{ application.amountStatus | titlecase }}</td> -->
<!-- 

                <td class="text-center">
                  <span class="sanction-icon" (click)="openPaymentPopup(application)">
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                </td>
                
              </tr>
              <tr *ngIf="applicationsInfo.length === 0">
                <td colspan="5" class="text-center">No Approved Applications found.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->


<!-- <div class="pagination-controls">
        <button (click)="goToFirstPage()" [disabled]="currentPageIndex === 0">|<</button>
        <button (click)="goToPreviousPage()" [disabled]="currentPageIndex === 0"><</button>
        <span>Page {{ currentPageIndex + 1 }} of {{ totalPages }}</span>
        <button (click)="goToNextPage()" [disabled]="currentPageIndex >= totalPages - 1">></button>
        <button (click)="goToLastPage()" [disabled]="currentPageIndex >= totalPages - 1">>|</button>
    </div> -->
<!-- </div> -->





<!-- <app-payemnt-updates *ngIf="showPaymentEditComponent" [PaymentId]="paymentId" [action]="action" (closeModal)="closeReviewPopup()"></app-payemnt-updates> -->