<!-- <app-plain-navigation></app-plain-navigation> -->
<div class="container-fluid">
  <!-- Header Bar -->
  <div class="row header-bar">
    <div class="col-12 col-md-6">
      <h4 class="header-title">Customer Information</h4>
    </div>
    <div class="col-12 col-md-6 text-md-end">
      <div class="search-container">
        <input 
          type="text" 
          class="search-input" 
          placeholder="Search"
          (keyup)="onSearch($event)"
        />
      </div>
    </div>
  </div>
  
  <!-- Table -->
  <div class="row" *ngIf="privilegeServ.hasPrivilege('LIST_CUSTOMER_INFO')">
    <div class="col-12">
      <div class="table-responsive">
        <!-- <table class="table table-bordered table-striped table-hover"> -->
          <table class="table table-sm">
          <thead class="table-custom-header">
            <tr>
              <th scope="col" (click)="onSort('index')">S.No</th>
              <th scope="col" (mouseover)="hoverField = 'Account Number'" (mouseleave)="hoverField = null" (click)="onSort('AccountNnumber')">
                Account Number
                <span class="sort-icon" [ngClass]="getSortIcon('AccountNnumber')"></span>
              </th>
              <th scope="col" (mouseover)="hoverField = 'firstName'" (mouseleave)="hoverField = null" (click)="onSort('firstName')">
                Full Name
                <span class="sort-icon" [ngClass]="getSortIcon('firstName')"></span>
              </th>
              <!-- <th scope="col" (mouseover)="hoverField = 'lastName'" (mouseleave)="hoverField = null" (click)="onSort('lastName')">
                Last Name
                <span class="sort-icon" [ngClass]="getSortIcon('lastName')"></span>
              </th> -->
              <th scope="col" (mouseover)="hoverField = 'email'" (mouseleave)="hoverField = null" (click)="onSort('email')">
                Email
                <span class="sort-icon" [ngClass]="getSortIcon('email')"></span>
              </th>
              <th scope="col" (mouseover)="hoverField = 'mobileNumber'" (mouseleave)="hoverField = null" (click)="onSort('mobileNumber')">
                Mobile Number
                <span class="sort-icon" [ngClass]="getSortIcon('mobileNumber')"></span>
              </th>
              <!-- <th scope="col" *ngIf="privilegeServ.hasPrivilege('EDIT_CUSTOMER_INFO') || privilegeServ.hasPrivilege('DELETE_CUSTOMER_INFO')">Actions</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers; let i = index">
               <th scope="row">{{ customer.serialNum }}</th>
              <td class="clickable-cell" (click)="openCustomerPopup(customer.customerId)">{{ customer.accountNumber }}</td>
               <td>{{ customer.fullName | capitalize}}</td>
              <!-- <td>{{ customer.firstName +" "+ customer.lastName | capitalize}}</td> -->
              <!-- <td> {{ customer.lastName | capitalize}}</td> -->
              <td class="lowerCase">{{ customer.email }}</td>
              <!-- <td>{{ customer.mobileNumber || 'N/A' }}</td> -->
              <td>{{ customer.mobileNumber ? '+91 ' + customer.mobileNumber : 'N/A' }}</td>

              <!-- <td class="action-buttons" *ngIf="privilegeServ.hasPrivilege('EDIT_CUSTOMER_INFO') || privilegeServ.hasPrivilege('DELETE_CUSTOMER_INFO')">
                <span class="edit-icon" (click)="openCustomerPopup(customer.customerId)" *ngIf="privilegeServ.hasPrivilege('EDIT_CUSTOMER_INFO')">
                  <i class="fas fa-edit"></i>
                </span>
                <button class="btn btn-danger btn-sm" (click)="openDeleteConfirmation(customer.customerId)" *ngIf="privilegeServ.hasPrivilege('DELETE_CUSTOMER_INFO')">
                  <i class="bi bi-trash"></i>
                </button>
              </td> -->
            </tr>
            <tr *ngIf="customers.length === 0">
              <td colspan="7" class="text-center">No customers found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button (click)="goToFirstPage()" [disabled]="currentPageIndex === 0">|<</button>
    <button (click)="goToPreviousPage()" [disabled]="currentPageIndex === 0"><</button>
    <span>Page {{ totalPages > 0 ? currentPageIndex + 1 : 0 }} of {{ totalPages }}</span>
    <button (click)="goToNextPage()" [disabled]="currentPageIndex >= totalPages - 1">></button>
    <button (click)="goToLastPage()" [disabled]="currentPageIndex >= totalPages - 1">>|</button>
  </div>
</div>

<app-customer-updation *ngIf="showCustomerUpdationModal" [CustId]="custId" (closeModal)="closeCustomerModal()"></app-customer-updation>
<!-- <app-confirm-modal *ngIf="showConfirmDialog" (confirm)="handleDeleteConfirmation($event)"></app-confirm-modal> -->
<app-confirm-modal *ngIf="showConfirmDialog" [message]="confirmMessage"  (confirm)="handleDeleteConfirmation($event)"></app-confirm-modal>

