<div class="modal-overlay">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h5 class="modal-title">{{ title }}</h5>
      <button type="button" class="btn-close" (click)="close()"></button>
    </div>

    <div class="modal-body">
      <div class="row mt-4" *ngIf="physicalDocuments.length > 0">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-bordered align-middle">
              <thead class="table-light">
                <tr>
                  <th>Document Name</th>
                  <th class="text-center">View</th>
                  <th class="text-center">Download</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let doc of physicalDocuments">
                  <td>
                    {{ doc.fileName }}<br />
                  </td>
                  <td class="text-center">
                    <i class="fas fa-eye doc-icon" (click)="viewDocument(doc.id)" title="View"></i>
                  </td>
                  <td class="text-center">
                    <i class="fas fa-download doc-icon" (click)="downloadDocument(doc.id)" title="Download"></i>
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>

      <div class="row mt-4" *ngIf="physicalDocuments.length === 0">
        <div class="col-12 text-center no-documents-message">
          <i class="bi bi-folder-x fs-1 text-secondary d-block mb-2"></i>
          <p class="text-muted mb-0">no Customer Files Found.</p>
        </div>
      </div>

    </div>
  </div>
</div>