<div class="dashboard-container" *ngIf="privilegeServ.hasPrivilege('VIEW_DASHBOARD')">
    <div class="dashboard-card">
      <h2 class="dashboard-title">Welcome to LoanCraft Employer Dashboard.</h2>
      <p class="dashboard-subtitle">Manage your employees, track progress, and oversee company operations efficiently.</p>
  
      <div class="dashboard-links">
        <a href="javascript:void(0);" class="dashboard-link">View Employees</a>
        <!-- <a href="javascript:void(0);" class="dashboard-link">Add Job Listings</a> -->
        <a href="javascript:void(0);" class="dashboard-link">Generate Reports</a>
        <a href="javascript:void(0);" class="dashboard-link">Manage roles</a>

      </div>
  
      <div class="dashboard-placeholder">
        <p> More features coming soon!</p>
      </div>
    </div>
  </div>
n
